:root {
	--alfgow: #d2ff1e;
}

html {
	font-size: 62.5%;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #c2c2c281;
	font-family: "Raleway", sans-serif;
	font-size: 1.6rem;
	line-height: 2;
}

.area {
	border: 1px solid red;
}

.logo {
	/* border: 1px solid var(--alfgow); */
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	max-height: 150px;
}

.menuMovilActive {
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.header {
	border-bottom: 1px solid lightgray;
}

.hero {
	height: 20rem;
	background-size: cover;
	background-position: center center;
}

@media (min-width: 960px) {
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 4rem;
	}
	h3 {
		font-size: 3rem;
	}
	.hero {
		background-image: url("../img/1.jpg");
		height: 40rem;
		background-size: cover;
		background-position: center center;
	}
	.producto img {
		height: 43rem;
		width: 100%;
		object-fit: cover;
	}
}
