:root {
	--alfgow: #d2ff1e;
}

body {
	background-color: #c2c2c281;
}

.area {
	border: 1px solid red;
}

.logo {
	/* border: 1px solid var(--alfgow); */
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	max-height: 200px;
}

.menuMovilActive {
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.header {
	border-bottom: 1px solid lightgray;
}

.hero {
	background-image: url("./img/1.jpg");
	height: 25rem;
	background-size: cover;
	background-position: center center;
}
